@using Newtonsoft.Json
@model List<Website.ViewModels.Visitor.VisitorBibleViewModel>

<div class="main-left-con m-0 p-0 col-2 full-vh overflow-hidden">
    <!-- Bibles List -->
    <div class="menu selected-menu-con" id="bible-list-menu">
        <h3>Bibles</h3>
        <div id="biblesList">
            @if (Model != null && Model.Any())
            {
                for (int i = 0; i < Model.Count; i++)
                {
                    <div 
                        class="menu-item menu-nav"
                        open-menu="book-list-menu"
                        bible-data-abbreviation="@Model[i].Abbreviation"
                        bible-data-name="@Model[i].Name"
                        bible-data-about="@Model[i].About"
                        bible-data-url="@Model[i].Url"
                        bible-data-publisher="@Model[i].Publisher"
                        bible-data-copyright="@Model[i].Copyright"
                        bible-data-language="@Model[i].Language"
                        bible-data-other-info="@Model[i].OtherInfo"
                        bible-data-list="@JsonConvert.SerializeObject(Model[i].BibleBooks)"
                    >
                        <div class="card col-12 my-2">
                            <div class="card-body">
                                <h6 class="card-subtitle mb-2 text-body-secondary bible-abbreviation" data-info>@Model[i].Abbreviation</h6>
                                <h5 class="card-title bible-name" >@Model[i].Name</h5>
                                <p class="card-text bible-about">@Model[i].About</p>
                            </div>
                        </div>
                    </div>
                }
            }
        </div>
    </div>

    <!-- Books List -->
    <div class="menu" id="book-list-menu">
        <button type="button" class="btn btn-secondary menu-nav" back-btn="True" open-menu="bible-list-menu"><i class="fa fa-arrow-left"></i> Back</button>
        <h3>Books</h3>
        <div id="booksList">
        </div>
    </div>

    <!-- Chapters List -->
    <div class="menu" id="chapter-list-menu">
        <button type="button" class="btn btn-secondary menu-nav" back-btn="True" open-menu="book-list-menu"><i class="fa fa-arrow-left"></i> Back</button>
        <h3>Chapters</h3>
        <div id="chaptersList">
        </div>
    </div>
</div>