@using Newtonsoft.Json
@model List<Website.ViewModels.Visitor.VisitorBibleViewModel>

<div class="main-left-con m-0 p-0 col-2 full-vh overflow-hidden">
    <!-- Bibles List -->
    <div class="menu selected-menu-con" id="bible-list-menu">
        <h3>Bibles</h3>
        <div id="biblesList">
            @if (Model != null && Model.Any())
            {
                for (int i = 0; i < Model.Count; i++)
                {
                    <div class="menu-item menu-nav" open-menu="book-list-menu" bible="@Model[i].Abbreviation" book-list="@JsonConvert.SerializeObject(Model[i].BobleBooks)">
                        <div class="card col-12 my-2">
                            <div class="card-body">
                                <h6 class="card-subtitle mb-2 text-body-secondary">@Model[i].Abbreviation</h6>
                                <h5 class="card-title">@Model[i].Name</h5>
                                <p class="card-text">@Model[i].About ...</p>
                                <span class="card-link">Read Now -></span>
                            </div>
                        </div>
                    </div>
                }
            }
        </div>
    </div>

    <!-- Books List -->
    <div class="menu" id="book-list-menu">
        <button type="button" class="btn btn-secondary menu-nav" back-btn="True" open-menu="bible-list-menu"><i class="fa fa-arrow-left"></i> Back</button>
        <h3>Books</h3>
        <div id="booksList">
        </div>
    </div>

    <!-- Chapters List -->
    <div class="menu" id="chapter-list-menu">
        <button type="button" class="btn btn-secondary menu-nav" back-btn="True" open-menu="book-list-menu"><i class="fa fa-arrow-left"></i> Back</button>
        <h3>Chapters</h3>
        <div id="chaptersList">
        </div>
    </div>
</div>